In [36]:
pip install xgboost

Defaulting to user installation because normal site-packages is not writeable
Collecting xgboost
  Downloading xgboost-2.1.0-py3-none-manylinux_2_28_x86_64.whl.metadata (2.1 kB)
Requirement already satisfied: numpy in /home/yadasa/.local/lib/python3.10/site-packages (from xgboost) (1.26.4)
Collecting nvidia-nccl-cu12 (from xgboost)
  Downloading nvidia_nccl_cu12-2.22.3-py3-none-manylinux2014_x86_64.whl.metadata (1.8 kB)
Requirement already satisfied: scipy in /home/yadasa/.local/lib/python3.10/site-packages (from xgboost) (1.13.0)
Downloading xgboost-2.1.0-py3-none-manylinux_2_28_x86_64.whl (153.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 153.9/153.9 MB 510.6 kB/s eta 0:00:00m eta 0:00:01[36m0:00:08
Downloading nvidia_nccl_cu12-2.22.3-py3-none-manylinux2014_x86_64.whl (190.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 190.9/190.9 MB 539.3 kB/s eta 0:00:00m eta 0:00:01[36m0:00:09
Installing collected packages: nvidia-nccl-cu12, xgboost
Successfully installed nvidia-nccl-cu12-2.22.3 xgboost-2.1.0

[notice] A new release of pip is available: 24.0 -> 24.1.1
[notice] To update, run: python3 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [ ]:
# SalesPredictionKaggle.ipynb
# Import necessary libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os
import glob
import calendar
import datetime as dt
from statsmodels.graphics.tsaplots import plot_pacf
from statsmodels.tsa.deterministic import DeterministicProcess, CalendarFourier
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.neural_network import MLPRegressor
from xgboost import XGBRegressor
from mlxtend.preprocessing import minmax_scaling

In [34]:
# Load datasets
macro_data = pd.read_csv("data/processed_data/macro_economic.csv")
events_Holidays_data = pd.read_csv("data/processed_data/events_Holidays_data.csv")
weather_data = pd.read_csv("data/processed_data/weather_data.csv")
train_data = pd.read_csv("data/processed_data/train.csv")
test_data = pd.read_csv("data/raw_data/Kaggle_Submission_Format.csv")

In [ ]:
# Clean the test_data by removing the Unnamed column
test_data = test_data.loc[:, ~test_data.columns.str.contains('^Unnamed')]

In [ ]:

# Exploratory Data Analysis (EDA)
print("Train Data Overview:")
print(train_data.head())

# Visualize sales over time
plt.figure(figsize=(14, 7))
sns.lineplot(data=train_data, x='Month', y='Sales(In ThousandDollars)', hue='ProductCategory')
plt.title('Sales over Time by Product Category')
plt.show()

In [ ]:
train_data = pd.read_csv("data/processed_data/train.csv")

In [ ]:
submisson_data=pd.read_csv("data/processed_data/Submission.csv")

In [ ]:
kaggle_submission_format = pd.read_csv("data/processed_data/Kaggle_Submission_Format.csv")

In [ ]:
kaggle_submission_format.head()

In [ ]:
submisson_data.head()

In [10]:
train_data.head()

   Year  Month ProductCategory  Sales(In ThousandDollars)
0  2009      1   WomenClothing                     1755.0
1  2009      1     MenClothing                      524.0
2  2009      1   OtherClothing                      936.0
3  2009      2   WomenClothing                     1729.0
4  2009      2     MenClothing                      496.0